<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>SessionsServletForCustomer</servlet-name>
        <servlet-class>servlets.customer.SessionsServletForCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionsServletForCustomer</servlet-name>
        <url-pattern>/signinCustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletNewCustomer</servlet-name>
        <servlet-class>servlets.customer.ServletNewCustomer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewCustomer</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletListOfCustomers</servlet-name>
        <servlet-class>servlets.customer.ServletListOfCustomers</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletListOfCustomers</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletNewOrder</servlet-name>
        <servlet-class>servlets.customer.SessionsServletForCustomer$ServletNewOrder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletNewOrder</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>


</web-app>
